# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://user:password@localhost:5432/mydb"
PORT=3000
NODE_ENV="development,production,test"
JWT_ACCESS_TOKEN=""//minimum 32 chars length
JWT_ACCESS_EXPIRES_IN=""//1m,15m etc